git+https://github.com/IdentityPython/idpy-oidc.git@issuer_metadata#egg=idpyoidc
git+https://github.com/SUNET/openid4v.git#egg=openid4v
git+https://github.com/SUNET/idpy-sdjwt.git#egg=idpysdjwt
git+https://github.com/SUNET/fedservice.git
git+https://github.com/SUNET/satosa-idpy.git#egg=satosa-idpyop
git+https://github.com/SUNET/satosa-openid4vci.git#egg=satosa-openid4vci
git+https://github.com/italia/eudi-wallet-it-python.git#egg=pyeudiw
pyeudiw[satosa]
pystache
swamid-plugins==0.1.0
